body
  {background-color: #ffe2e2;}
  hr {border: dotted grey;
      border-width: 5px;
      border-top:none;
      width:5%;
      }

  h1 { color:#2978b5; }
  h2 { color:#2978b5; }
  h3 { color:#2978b5; }

table {border:white; }

.circular{ border-radius: 15%;}
